<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <link href="{{ url_for('static',
    filename='css/Homepage.css', _external=True) }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ray的棒球數據站</title>
</head>

<body>

    <div id="but" align="right">
        <form action="/signup">
            <button>註冊</button>
        </form>

        <form action="/signinpage">
            <button>登入</button>
        </form>
    </div>
    <h2>會員系統首頁</h2>
    <form action="/signup">
        <button>點我註冊</button>
    </form>
    <br>

</body>

</html>