<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>請正確的輸入資料：<h1>
    <br>
    <br>
    <form action="/signup_success" method="POST">
        暱稱：<input type="text" name="name" />
        <br>
        帳號：<input type="text" name="email" />
        <br>
        密碼：<input type="text" name="password" />
        <br>
        <button>點擊送出</button>
    </form>
</body>
</html>